
<% include partials/_head %>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>

<% include partials/_nav %>

<div class="parallax-container">
  <div class="parallax">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Edward_England.svg/2000px-Flag_of_Edward_England.svg.png" width="100%">
  </div>
</div>

<div class="section white index-search">
  <div class="row container">
    <h4 class="center">Some of our Treasures</h4>
  </div>
</div>

<div class="parallax-container treasures-home black">
  <div class="row container image-slick-home">
    <div class="data" data-slick='{"slidesToShow": <%= treasures.length %>, "slidesToScroll": 3, "arrows": true}'>
   <% treasures.forEach(function(treasure){ %>
    <div class="col s3">
      <div class="card card-home">
        <div class="card-image">
          <img id="treasure-image" src=" <%= treasure.img_url %> "/>
          <span class="card-title">
               <p><%= treasure.name %></p>
          </span>
        </div>
        <div class="card-content">
          Near: <%= treasure.zipcode %>
        </div>
      </div>
    </div>
  <% }); %>
    </div>
  </div>
</div>

<div class="section white index-search">
  <div class="row container">
  </div>
</div>

<div class="parallax-container foot">
  <div class="parallax">
    <img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a">
  </div>
</div>

<footer class="black center">
  &copy; 2015 Sidewalk Sailors
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script type="text/javascript" src="/javascripts/slick.js"></script>
</body>
</html>

